.textfield {
  display: flex;
  border: 1px solid $outline;
  flex-direction: row;
  transition: 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 6px;
  height: 2.25rem;
  width: 100%;

  .input-icon {
    background: $surface;
    height: 100%;
    color: $secondary;
    padding-block: 0.25rem;
    padding-inline: 8px;
    transition: background-color 0.35s ease-in-out;
  }

  Input {
    outline: none;
    background: none;
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .toggle-password-icon {
    font-size: 22px;
    height: 100%;
    padding-block: 0.5rem;
    padding-inline: 8px;
    width: 2rem;

    .hidden {
      transition: 0.35s;
      color: white;
    }

    .shown {
      transition: 0.35s;
      color: $secondary;
    }
  }

  &:focus-within {
    //transform: scale(1.05);
    border: 1px solid $primary;
    box-shadow: $primary 0 0 12px 0; // glow
    transition: 0.35s ease-in-out;

    .input-icon {
      background-color: $primary;
      color: white;
      transition: 0.35s ease-in-out;
    }
  }
}