$font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

$font-sans: 'Noto Sans', 'Trebuchet MS', sans-serif;

h1, p {
  font-family: $font-mono;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-sans;
  color: white;
}

html,
body {
  font-size: 18px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: $background;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $font-mono;
}

p {
  font-size: 16px;
}

.center {
  align-self: center;
}

a {
  color: white;
  transition: color 0.25s;
  text-decoration: underline;

  &:hover {
    color: $primary-200;
  }
}
